<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>techlect</title>
  <meta name="description" content="techlect">
  <meta name="author" content="zingoworks">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<nav>
  <div style="height: 300px;">
    <span class="techlect">techlect.</span>
  </div>
</nav>
<main>
  <div class="filter-bar" style="text-align: right; padding-right: 50px">
    <button class="btn-round">시간순</button>
    <button class="btn-round">hit순</button>
  </div>
  {{>article}}
</main>
<footer class="nav-down">@zingoworks</footer>
<script src="js/scripts.js"></script>
</body>
</html>
