<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>techlect</title>
  <meta name="description" content="techlect">
  <meta name="author" content="zingoworks">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<main>
  {{>article}}
</main>
<script src="js/scripts.js"></script>
</body>
</html>
